@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
} 
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: linear-gradient(135deg, #FFF9F1, #D8DFBE, #5C6244);
}
.button1{ 
    
    position:fixed;
    top: 314px;
    left: 314px;
    background: none;
    border: 2px solid  #5C6244;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;

}
.button1:hover{
    color: #fff;
}
.button1::before{
   content: "";
   position: absolute;
   left:0;
   top:0;
   width: 100%;
   height: 100%;
   background: #5C6244;
   z-index: -1;
   transition: transform 0.5s;
   transform-origin: 0 0;
   transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}
.button1::before{
    transform: scaleX(0);
}
.button1:hover::before{
    transform: scaleX(1);
}
.button2{ 
    position:fixed;
    top: 314px;
    right: 314px;
    background: none;
    border: 2px solid  #5C6244;
    font-family: "montserrat",sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;

}
.button2:hover{
    color: #fff;
}
.button2::before{
   content: "";
   position: absolute;
   left:0;
   top:0;
   width: 100%;
   height: 100%;
   background:  #5C6244;
   z-index: -1;
   transition: transform 0.5s;
   transform-origin: 0 0;
   transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);

}
.button2::before{
    transform: scaleY(0);
}
.button2:hover::before{
    transform: scaleY(1);
}
